// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#collapseOne {
	max-height: 400px;
	overflow: scroll;
}
#collapseTwo {
	max-height: 400px;
	overflow: scroll;
}
.messages_profile {
	text-align: left;
}
.js-notifications {
	text-align: center;
	border-radius: 120px;
	background-color: red;
	color: white;
	width: 20px;
	position: absolute;
	margin-top: -69px;
	margin-left: 88px;
}

.js-notifications-user {
	text-align: center;
	border-radius: 120px;
	background-color: red;
	color: white;
	position: absolute;
	width: 20px;
	margin-top: -69px;
	margin-left: 88px;
}

.message-invitaion-sender-img {
	width: 70px;
 	height: 55px;
  	border-radius: 99em;
  	position: fixed;
  	left: auto;
  	right: auto;
  	margin-top: 1%;
  	display: none;
}
.message-sender-img {
	width: 70px;
  	height: 55px;
 	border-radius: 99em;
 	position: fixed;
 	left: auto;
 	right: auto;
 	margin-top: 1%;
 	display: none;
}
.js-message-invitee-btn {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 30px;
}
.js-message-invitee-btn:hover {
	color: blue;
}
.js-message-btn {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 30px;
}
.js-message-btn:hover {
	color: blue;
}
#messagesDiv {
	text-align: left;
}
#messageInput-user {
	background-color: rgba(0, 0, 0, 0);
	width: 80%;
}
#messageInput {
	background-color: rgba(0, 0, 0, 0);
	width: 80%;
}
.glyphicon.glyphicon-send {
	height: 26px;
}

.glyphicon.glyphicon-remove.messages {
	font-size: 120%;
	color: red;
}
.glyphicon.glyphicon-remove.messages:hover {
	font-size: 140%;
	color: red;
}
.vite-message {
	font-size: 130%
}
.messages_header {
	font-size: 170%;
	color: black;
}
.glyphicon.glyphicon-envelope.messages {
    top: 1vh;
    font-size: 30px;
}
.glyphicon.glyphicon-comment.messages {
    top: 1vh;
    font-size: 30px;
}


.accordion-heading {
	border-width: 1px;
    border-style: outset;
    border-radius: 10px;
    background-color: #B4A0BF;
    background: #B4A0BF -webkit-gradient(linear, left top, left bottom, from(#E2E5E4), to(#B4A0BF)) no-repeat;
    background: #B4A0BF -moz-linear-gradient(top, #E2E5E4, #B4A0BF) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E5E4, endColorstr=#B4A0BF) no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E5E4, endColorstr=#E2E5E4)" no-repeat;
}

.accordion-group {
	border-width: 1px;
    border-style: inset;
    border-radius: 10px;
    background-color: #B4A0BF;
    background: #B4A0BF -webkit-gradient(linear, left top, left bottom, from(#E2E5E4), to(#B4A0BF)) no-repeat;
    background: #B4A0BF -moz-linear-gradient(top, #E2E5E4, #B4A0BF) no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E5E4, endColorstr=#B4A0BF) no-repeat;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E2E5E4, endColorstr=#E2E5E4)" no-repeat;

}
.accordion {
	width: 70vw;
	margin-left: auto;
	margin-right: auto;
}