// Place all the styles related to the requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.request_profiles {
	left: 5vw;
	border-style: inset;
	border-width: 5px;
	border-color: silver;
	border-radius: 70px;
	padding-right: 32vw;
	padding-top: 3vh;
	padding-bottom: 2vh;
}
.senders_img {
	border-radius: 120px;
}
.vite {
	background-color: green;
	width: 15vw;
	height: 5vh;
	border-radius: 120px;
}
.next_time{
	background-color: yellow;
	color: black;
	width: 15vw;
	height: 5vh;
	border-radius: 120px;
}
.glyphicon-envelope.accept {
	font-size: 120%;
	top: 10%;
}
.glyphicon-remove.decline {
	top: 10%;
	font-size: 120%;
}
.hero-unit.request {
	height: auto;
}
.invited {
	background-color: black;
	color: silver;
	font-family: "Coronetscript", cursive;
	width: 15vw;
	border-radius: 70px;
	border-style: outset;
	border-width: 2px;
	border-color: silver;
	display: none;
}
.message {
	background-color: black;
	color: silver;
	font-family: "Coronetscript", cursive;
	width: 15vw;
	border-radius: 70px;
	border-style: outset;
	border-width: 2px;
	border-color: silver;
	display: none;
	float: right;
	margin-top: 5vh;
}