// Place all the styles related to the settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-settings{
	width: 150px;
  	height: 60px;
  	background-color: grey;
  	color: white;
}

.glyphicon-home {
	font-size: 40px;
	margin-top: 2vh;
  	right: 4vw;
}
